<ul class="nav nav-tabs mb-3">
  <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/dashboard/categorias">Categorias</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/dashboard/termos">Termos</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/dashboard/usuarios">Usuários</a>
    </li>
</ul>
