<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>{{ title_card }}</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item">{{ title_card }}</li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li> -->
                    </ol>
                </nav>
            </div>
            <div class="col-md-8 col-sm-12">
                <app-search></app-search>
                <div class="pull-right">
                    <i title="Galeria" class="fa fa-table fa-2x mr-2" aria-hidden="true"></i>
                    <a title="Lista" [routerLink]="['/words']"><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loaded">
        <img class="imgLoad" [src]="imgLoading" alt="Carregando">
    </div>
    <div class="container mt-4" *ngIf="!loaded">
        <div class="row mb-4">
            <div *ngFor="let card of cards$ | async | order: 'title'" class="col-md-3 col-sm-6 mb-3 text-center">
                <div class="card">
                    <a [routerLink]="['/detalhe', card.idcard, card.title | removeCharacters | lowercase | replaceUnderscore]">
                        <h6 class="card-header text-white bg-info">{{ card.title }}</h6>
                    </a>
                    <div class="card-body">
                        <a [routerLink]="['/detalhe', card.idcard, card.title | removeCharacters | lowercase | replaceUnderscore]">
                            <img class="imgCard" [src]="card.image" alt="{{ card.title }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>